<%- include('header')%>

<section>
    <div class="busqueda">
  
        <h2 class="subtitulo"> </h2>
        <br>
        <div class="contenedor_busqueda">
          
        </div>
        </div>
      </section>
  <section>
    <div class="">
      <button  class="verMasPelis" type="button" name="button"> Ver mas.....</button>
      <button  class="verMenosPelis" type="button" name="button"> Ver menos.....</button>
    </div>
  </section>

<%- include('footer')%>
