<%- include('header') %>

<h2 class="uk-modal-title nombre">Confirma tus datos para editar la Reseña</h2>
<section class="contenedorFormulario">




  <form action="/home/resenias/editar/<%=editarId%>" method="POST" class="formDeEliminar">

    <% if (typeof errores5 != "undefined") { %>
      <ul class='contenedor-error2' style="color:red;position: relative;
      top: 10px">
          <% for (let i = 0; i < errores5.length; i++) { %>
              <li>
                  <%=errores5[i]%>
              </li>
              
          <% } %>
             

          <% } %>

    <div class="imgcontainer">
      <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
    
  
    <div class="input-container">
      <i class="fa fa-envelope icon"></i>
      <input class="input-field" type="email" placeholder="Email" name="email">
    </div>
  
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Password" name="password">
    </div>

    <div class="input-container">
      <i class="fa fa-commenting icon"></i>
      <textarea name="resenia" rows="5" cols="50" placeholder="Escribí tu reseña"></textarea>
    </div>

    <div class="input-container">
      <i class="fa fa-sliders icon"></i>
      <label for="range" class="nombreFormEliminar">Puntaje</label>
      <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1" name="quantity">
  </div>
    
<button type="submit">Subir reseña</button>
<a href="/home"><button class="uk-button uk-button-default uk-modal-close cancelbtn cancelLogIn" type="button">Cancel</button></a>

  </form>

</div>
</div>

<%- include('footer') %>
