<%- include('header')%>

<section id="estrenos" class="section-estrenos">
    <br>
    <h2 class="subtitulo"> Últimos estrenos</h2>
    <br>
    <div class="contenedor">

    </div>

  </section>

<%- include('footer')%>
