<%- include('header')%>
<section id="generos" class="section-estrenos">
    <br>
    <h2 class="subtitulo">Mis Peliculas Favoritas </h2>
    <br>
    <div class="contenedor">

    </div>

  </section>

  <section class="sin-peliculas">
    <h2>No tiene ninguna pelicula favorita</h2>
  </section>
<%- include('footer')%>