<footer>
   
    
    <% if (pagina == "home"){ %>
      <script type="text/javascript" src="/javascript/index.js">
    
      </script>
      <script type="text/javascript" src="/javascript/general.js">
      
      </script>
      <script type="text/javascript" src="/javascript/mejoresPuntuadas.js">
      
      </script>
      <div class="padre-footer">
    
        <div class="copyright">
            <h2 class="nombresDelFooter">Tobias Volberg</h2>
      
        </div>
        <div class="copyright">
          <h2 class="nombresDelFooter">Jonathan Brener</h2>
        </div>
        <div class="copyright">
          <h2 class="nombresDelFooter">Julian Tabacman</h2>
        </div>
      </div>
    <% } else if (pagina == "detalle"){ %>
    
      <script type="text/javascript" src="/javascript/general.js">
      
      </script>
      <script type="text/javascript" src="/javascript/detallePelicula.js">
      
      </script>
      <div class="padre-footer">
    
        <div class="copyright">
            <h2 class="nombresDelFooter">Tobias Volberg</h2>
      
        </div>
        <div class="copyright">
          <h2 class="nombresDelFooter">Jonathan Brener</h2>
        </div>
        <div class="copyright">
          <h2 class="nombresDelFooter">Julian Tabacman</h2>
        </div>
      </div>
      <% } else if (pagina == "busqueda"){ %>
        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
          <script type="text/javascript" src="/javascript/buscador.js">
      
          </script>
          <div class="padre-footer">
    
            <div class="copyright">
                <h2 class="nombresDelFooter">Tobias Volberg</h2>
          
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Jonathan Brener</h2>
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Julian Tabacman</h2>
            </div>
          </div>

      <% } else if (pagina == "estrenos"){ %>
        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
          <script type="text/javascript" src="/javascript/estrenos.js">
      
          </script>
          <div class="padre-footer">
    
            <div class="copyright">
                <h2 class="nombresDelFooter">Tobias Volberg</h2>
          
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Jonathan Brener</h2>
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Julian Tabacman</h2>
            </div>
          </div>

      <% } else if (pagina == "fav"){ %>
        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
          <script type="text/javascript" src="/javascript/favoritas.js">
      
          </script>

      <% } else if (pagina == "generos"){ %>

        <script type="text/javascript" src="/javascript/generos.js">
      
        </script>
        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
         <div class="padre-footer">
    
          <div class="copyright">
              <h2 class="nombresDelFooter">Tobias Volberg</h2>
        
          </div>
          <div class="copyright">
            <h2 class="nombresDelFooter">Jonathan Brener</h2>
          </div>
          <div class="copyright">
            <h2 class="nombresDelFooter">Julian Tabacman</h2>
          </div>
        </div>
        
          
      <% } else if (pagina == "popular"){ %>
        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
          <script type="text/javascript" src="/javascript/popular.js">
      
          </script>
          <div class="padre-footer">
    
            <div class="copyright">
                <h2 class="nombresDelFooter">Tobias Volberg</h2>
          
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Jonathan Brener</h2>
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Julian Tabacman</h2>
            </div>
          </div>

      <% } else if (pagina == "prox"){ %>

        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
          <script type="text/javascript" src="/javascript/prox.js">
      
          </script>
          <div class="padre-footer">
    
            <div class="copyright">
                <h2 class="nombresDelFooter">Tobias Volberg</h2>
          
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Jonathan Brener</h2>
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Julian Tabacman</h2>
            </div>
          </div>
      <% }else if (pagina == "top100"){ %>
        <script type="text/javascript" src="/javascript/general.js">
      
        </script>
          <script type="text/javascript" src="/javascript/top100.js">
      
          </script>
          <div class="padre-footer">
    
            <div class="copyright">
                <h2 class="nombresDelFooter">Tobias Volberg</h2>
          
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Jonathan Brener</h2>
            </div>
            <div class="copyright">
              <h2 class="nombresDelFooter">Julian Tabacman</h2>
            </div>
          </div>
          <% }else if (pagina == "registro"){ %>
            <script type="text/javascript" src="/javascript/general.js">
      
            </script>
              <script type="text/javascript" src="/javascript/registro.js">
          
              </script>
              <div class="padre-footer">
        
                <div class="copyright">
                    <h2 class="nombresDelFooter">Tobias Volberg</h2>
              
                </div>
                <div class="copyright">
                  <h2 class="nombresDelFooter">Jonathan Brener</h2>
                </div>
                <div class="copyright">
                  <h2 class="nombresDelFooter">Julian Tabacman</h2>
                </div>
              </div>
              <% }else if (pagina == "login"){ %>
                <script type="text/javascript" src="/javascript/general.js">
          
                </script>
                  <script type="text/javascript" src="/javascript/login.js">
              
                  </script>
                  <div class="padre-footer">
            
                    <div class="copyright">
                        <h2 class="nombresDelFooter">Tobias Volberg</h2>
                  
                    </div>
                    <div class="copyright">
                      <h2 class="nombresDelFooter">Jonathan Brener</h2>
                    </div>
                    <div class="copyright">
                      <h2 class="nombresDelFooter">Julian Tabacman</h2>
                    </div>
                  </div>
              
                  <% }else if (pagina == "usuarios"){ %>
                    <script type="text/javascript" src="/javascript/general.js">
          
                    </script>
                      <script type="text/javascript" src="/javascript/index.js">
                  
                      </script>
                      <div class="padre-footer">
            
                        <div class="copyright">
                            <h2 class="nombresDelFooter">Tobias Volberg</h2>
                      
                        </div>
                        <div class="copyright">
                          <h2 class="nombresDelFooter">Jonathan Brener</h2>
                        </div>
                        <div class="copyright">
                          <h2 class="nombresDelFooter">Julian Tabacman</h2>
                        </div>
                      </div>

              <% } else if (pagina == "mejoresPuntuadas"){ %>
                <script type="text/javascript" src="/javascript/general.js">
          
                </script>
                  <script type="text/javascript" src="/javascript/mejoresPuntuadas.js">
              
                  </script>
                  <div class="padre-footer">
        
                    <div class="copyright">
                        <h2 class="nombresDelFooter">Tobias Volberg</h2>
                  
                    </div>
                    <div class="copyright">
                      <h2 class="nombresDelFooter">Jonathan Brener</h2>
                    </div>
                    <div class="copyright">
                      <h2 class="nombresDelFooter">Julian Tabacman</h2>
                    </div>
                  </div>
                  <% } %>
    
  </footer>
</div>
</body>

</html>