<footer>
    <div class="padre-footer">
    
      <div class="copyright">
          <h2 class="nombresDelFooter">Tobias Volberg</h2>
    
      </div>
      <div class="copyright">
        <h2 class="nombresDelFooter">Jonathan Brener</h2>
      </div>
      <div class="copyright">
        <h2 class="nombresDelFooter">Julian Tabacman</h2>
      </div>
    </div>
    
        </footer>
        </div>
      </body>
    
    </html>
    <script type="text/javascript" src="/javascript/index.js">
    
    </script>
    <script type="text/javascript" src="/javascript/general.js">
    
    </script>
    
    <script type="text/javascript" src="/javascript/detalle.js">
    
    </script>