<%- include('header', {pagina: "generos"})%>

    <section id="generos" class="section-estrenos">
        <br>
        <h2 class="subtitulo"> </h2>
        <br>
        <div class="contenedor">

        </div>

    </section>
    <section>
        <div class="">
        <button  class="verMasPelis" type="button" name="button"> Ver mas.....</button>
        <button  class="verMenosPelis" type="button" name="button"> Ver menos.....</button>
        </div>
    </section>

    <%- include('footer', {pagina: "generos"})%>