<%- include('header') %>
<h1>INICIA SESION</h1>

<form action="/home/login" method="POST">
    <label for="email">EMAIL:</label>
    <input name='email' type="email"placeholder="Inserte su email aqui">
    <br>
    <br>
    <br>
    <label for="">PASSWORD:</label>
    <input name='password' type="password" placeholder="Inserte su password aqui">
    <br>
    <br>
    <br>
    <button type="submit" id="submitButton">INGRESAR</button>

</form>
<!-- <script>
    $(document).ready(function(){
     $("#submitButton").on("click",function()
     {
      alert('El email no esta en la base de datos');
     });
   
   });
   </script> -->

<ul>
<% for (let index = 0; index < resultado.length; index++) {%>
    <li>
        <%=resultado[index].resenia_text%>
    </li>
<%}%>
</ul>


<%- include('footer') %>
