<%- include('header')%>

<form action="/home/usuarios" method="POST" class="formUsuarios"> 
    <label for="usuario">BUSCADOR DE USUARIOS</label>
    <input type="usuario" id="usuario" name="usuario">
    <input type="submit">


</form>

<% if (resultados){ %>
    <% if (resultados.length > 0){ %>

        <% for (let index = 0; index < resultados.length; index++) { %>
  
            <p><%=resultados[index].user_email%></p>
        <%}%>
    <%}else {%> 
        <p>No hay resultados</p>
        <%}%>
<%}%>

<%- include('footer')%>